@charset "utf-8";
/* ============================================================================
    全体の設定、および「まるばつゲーム」に関係のない設定
============================================================================ */
* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
}
#outer {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ============================================================================
    「まるばつゲーム」に関わる設定
============================================================================ */
#game_board {
    position: relative;
    aspect-ratio: 1 / 1;    /* アスペクト比の設定 */
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.square {
    width: calc(100% / 3 - 2px);
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.valueO {
    /* ===== まるの時 ===== */
    position: relative;
}
.valueO::before {
    /* ===== まるの時 ===== */
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    aspect-ratio: 1 / 1;
    top: 15%;
    left: 15%;
    background: radial-gradient(rgba(0, 0, 0, 0) 0% 60%, #FF0000 60% 100%);
    border-radius: 50%;
}
.valueX {
    /* ===== ばつの時 ===== */
    position: relative;
}
.valueX::before {
    /* ===== ばつの時 ===== */
    content: '';
    display: block;
    position: absolute;
    height: 4%;
    width: 80%;
    top: 48%;
    left: 10%;
    background-color: #0000FF;
    transform: rotate(45deg);
}
.valueX::after {
    /* ===== ばつの時 ===== */
    content: '';
    display: block;
    position: absolute;
    height: 4%;
    width: 80%;
    top: 48%;
    left: 10%;
    background-color: #0000FF;
    transform: rotate(-45deg);
}
.message_box {
    position: absolute;
    width: 100%;
    top: 29%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #FF0000;
    pointer-events: none;
}
.play_first_selector {
    width: 30%;
    top: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    margin: 5%;
    color: #333333;
}
.play_first_selector:hover {
    color: #FF0000;
}
.play_again {
    position: absolute;
    width: 40%;
    top: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000000;
    background-color: #FFFF00;
    margin-left: auto;
    margin-right: auto;
}