@charset "utf-8";
/* ========================================================================= */
/* 全体の設定、および「まるばつゲーム」に関係のない設定 */
* {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#outer {
    margin: 30px auto;
}
/* ========================================================================= */


/* ========================================================================= */
/* 「まるばつゲーム」に関わる設定 */